

* {
    margin: 0 ; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    max-width: 2000px;
    scroll-behavior: smooth;
    
}

a {
    text-decoration: none;
}

a:hover,a:focus, a:visited {
    text-decoration: none;
    color: black;

}

#container-two, 
#services-container,
#work-container {
    max-width: 1400px;
    margin: 0 auto;
}



// h2s 


