
// Extra small devices (phones, 640px and down)

@media only screen and (max-width: 640px) {

    // top container, header, hamburger menu.
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
    
        body {
            max-width: 600px;
    
        }
    
        h1 {
            text-align: center;
        }
    
        #mobile-menu {
            display: none;
            position: absolute;
            top:135px;
            right: 0;
            height: 400px;
            width: 100%;
            background-color:$red;
            overflow: hidden;
            animation: mobile-menu-open 0.2s linear 1 normal;
        }
    
        #mobile-menu ul {
            text-align: center;
    
        }
    
        #mobile-menu ul li {
            list-style: none;
            padding-top:10px ;
            padding-bottom: 10px;
            border-bottom: 0.5px solid $white ;
            color: $white;
            font-family: $open-sans;
            font-weight: 200;
    
        }
    
        #contact-btn-mobile {
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            width: 150px;
            height: 37.5px;
            border-radius: 25px;
            border:none;
            background-color: $blue;
            color: $white;
            text-transform: uppercase;
        }
    
        #header {
            display: none !important;
        }
    
        #header-mobile {
            display: block !important;
            width: 100%;
            height: 150px;
            padding-top: 25px;
    
        }
    
        #flexbox-header-mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
    
    
    
    
        #logo-img-mobile {
            height: 90px;
            width: 61px;
            margin-top:10px;
            margin-left: 20px ;
        }
    
        #mobile-menu-btn {
            width: 30px;
            height: 30px;
            margin-right: 20px;
            margin-top: 10px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            -webkit-align-items: flex-end;
                 
        }
    
        .mobile-menu-btn-line {
            margin-bottom: 5px;
            height: 5px;
            width: 30px;
            background-color: black;
    
        }
    
        #first-line {
            width: 15px; 
    
        } #third-line {
            width: 25px;
        }
    
    
    
    // container two 
    
    
        #container-two {
            position: relative;
            height: fit-content !important;
    
        }
    
        #container-two h2, #container-two h3 {
            font-size: 2rem !important;
            text-align: center;
        }
    
        #container-two #about {
            font-size: 1.2rem !important;
            padding-top: 20px;
            margin: 0 auto;
            width: 80%;
            text-align: center;
        }
    
        #container-two .web-design-process {
            position: absolute;
            font-weight: 600;
            font-family: $bebas-Neue;
            font-size: 5rem !important;
            width: 100%;
            left: 50%;
            top: 550px !important;
            transform: translateX(-50%);
            z-index: -1;
            opacity: 0.5;
        }
    
    
    
    
        #section-steps, #steps-icons {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center;
            align-content: center;
            height: 2400px !important;
    
        }
    
        #steps-icons {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
    
        }
    
        .step-card {
            height: 550px !important;
            width: 90% !important;
            height: 100%;
        }
    
    
    
        // services 
    
        #services-container {
            height: 2100px;
        }
    
        #services-container h2 {
            font-size: 5rem !important;
            top: -5% !important;
        }
    
        #service-cards-one,
        #service-cards-two,
        #service-cards-three {
            flex-direction: column;    
        }
    
        .service-card {
            width: 90% !important;
            height: 350px !important;
            margin-top: 10px !important;
            background-color: $red;
            margin:0 auto;
            border-radius:25px ;
    
    
        }
    }