@-webkit-keyframes contact-button-hover-in {
  0% {
    background-color: #E53C5D;
  }
  10% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 20%);
  }
  20% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 40%);
  }
  30% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 60%);
  }
  40% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 80%);
  }
  50% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 100%);
  }
  60% {
    background: radial-gradient(circle, #223fe3 20%, #e53c5d 100%);
  }
  70% {
    background: radial-gradient(circle, #223fe3 40%, #e53c5d 100%);
  }
  80% {
    background: radial-gradient(circle, #223fe3 60%, #e53c5d 100%);
  }
  90% {
    background: radial-gradient(circle, #223fe3 80%, #e53c5d 100%);
  }
  100% {
    background: radial-gradient(circle, #223fe3 100%, #e53c5d 100%);
  }
}

@keyframes contact-button-hover-in {
  0% {
    background-color: #E53C5D;
  }
  10% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 20%);
  }
  20% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 40%);
  }
  30% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 60%);
  }
  40% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 80%);
  }
  50% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 100%);
  }
  60% {
    background: radial-gradient(circle, #223fe3 20%, #e53c5d 100%);
  }
  70% {
    background: radial-gradient(circle, #223fe3 40%, #e53c5d 100%);
  }
  80% {
    background: radial-gradient(circle, #223fe3 60%, #e53c5d 100%);
  }
  90% {
    background: radial-gradient(circle, #223fe3 80%, #e53c5d 100%);
  }
  100% {
    background: radial-gradient(circle, #223fe3 100%, #e53c5d 100%);
  }
}

@-webkit-keyframes contact-button-hover-out {
  0% {
    background-color: #223FE3;
  }
  10% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 20%);
  }
  20% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 40%);
  }
  30% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 60%);
  }
  40% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 80%);
  }
  50% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 100%);
  }
  60% {
    background: radial-gradient(circle, #e53c5d 20%, #223fe3 100%);
  }
  70% {
    background: radial-gradient(circle, #e53c5d 40%, #223fe3 100%);
  }
  80% {
    background: radial-gradient(circle, #e53c5d 60%, #223fe3 100%);
  }
  90% {
    background: radial-gradient(circle, #e53c5d 80%, #223fe3 100%);
  }
  100% {
    background: radial-gradient(circle, #e53c5d 100%, #223fe3 100%);
  }
}

@keyframes contact-button-hover-out {
  0% {
    background-color: #223FE3;
  }
  10% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 20%);
  }
  20% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 40%);
  }
  30% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 60%);
  }
  40% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 80%);
  }
  50% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 100%);
  }
  60% {
    background: radial-gradient(circle, #e53c5d 20%, #223fe3 100%);
  }
  70% {
    background: radial-gradient(circle, #e53c5d 40%, #223fe3 100%);
  }
  80% {
    background: radial-gradient(circle, #e53c5d 60%, #223fe3 100%);
  }
  90% {
    background: radial-gradient(circle, #e53c5d 80%, #223fe3 100%);
  }
  100% {
    background: radial-gradient(circle, #e53c5d 100%, #223fe3 100%);
  }
}

@-webkit-keyframes nav-menu-in {
  from {
    color: #000000;
    font-size: 1rem;
  }
  to {
    color: #E53C5D;
    font-size: 1.1rem;
  }
}

@keyframes nav-menu-in {
  from {
    color: #000000;
    font-size: 1rem;
  }
  to {
    color: #E53C5D;
    font-size: 1.1rem;
  }
}

@-webkit-keyframes nav-menu-out {
  from {
    color: #E53C5D;
    font-size: 1.1rem;
  }
  to {
    color: #000000;
    font-size: 1rem;
  }
}

@keyframes nav-menu-out {
  from {
    color: #E53C5D;
    font-size: 1.1rem;
  }
  to {
    color: #000000;
    font-size: 1rem;
  }
}

@-webkit-keyframes step-card-in {
  from {
    height: 80%;
    width: 20%;
  }
  to {
    height: 90%px;
    width: 21%;
  }
}

@keyframes step-card-in {
  from {
    height: 80%;
    width: 20%;
  }
  to {
    height: 90%px;
    width: 21%;
  }
}

@-webkit-keyframes step-card-out {
  from {
    height: 90%;
    width: 21%;
  }
  to {
    height: 80%;
    width: 20%;
  }
}

@keyframes step-card-out {
  from {
    height: 90%;
    width: 21%;
  }
  to {
    height: 80%;
    width: 20%;
  }
}

@-webkit-keyframes icons-animation-in {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    padding-bottom: 0;
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    margin-top: -70px;
  }
}

@keyframes icons-animation-in {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    padding-bottom: 0;
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    margin-top: -70px;
  }
}

@-webkit-keyframes icons-animation-out {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    margin-top: -70px;
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    padding-bottom: 0;
  }
}

@keyframes icons-animation-out {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    margin-top: -70px;
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    padding-bottom: 0;
  }
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

#top-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

#background-img {
  width: 75%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

#header {
  height: 100px;
  width: 90%;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

#logo-img {
  height: 90px;
  width: 61px;
}

#nav li {
  display: inline;
  text-align: center;
  padding: 0 25px 0 25px;
  -webkit-animation: nav-menu-out 0.1s linear 1 normal;
          animation: nav-menu-out 0.1s linear 1 normal;
}

#nav li:hover {
  -webkit-animation: nav-menu-in 0.1s linear 1 normal;
          animation: nav-menu-in 0.1s linear 1 normal;
  color: #E53C5D;
  font-size: 1.1rem;
}

#contact-btn {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #E53C5D;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-animation: contact-button-hover-out 0.2s 1 none;
          animation: contact-button-hover-out 0.2s 1 none;
}

#contact-btn:hover {
  -webkit-animation: contact-button-hover-in 0.2s 1 none;
          animation: contact-button-hover-in 0.2s 1 none;
  background-color: #223FE3;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: 500;
  font-size: 3rem;
  line-height: 45px;
  margin-top: 50px;
  margin-left: 25px;
}

#container-two {
  position: relative;
  height: 2000px;
  max-width: 1400px;
  margin: 0 auto;
}

#container-two h2, #container-two h3 {
  font-size: 2rem;
  text-align: center;
}

#container-two #about {
  font-size: 2rem;
  padding-top: 20px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

#container-two .web-design-process {
  position: absolute;
  font-weight: 600;
  font-family: "Bebas Neue", cursive;
  font-size: 1200%;
  width: 100%;
  left: 50%;
  top: 23%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  opacity: 0.5;
}

#section-paragraph {
  margin-bottom: 200px;
}

#section-steps, #steps-icons {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#steps-icons {
  margin-top: -30%;
}

#steps-icons img {
  width: 200px;
  height: 200px;
}

.step-card {
  height: 80%;
  width: 20%;
  background-color: #223FE3;
  border-radius: 25px;
  text-align: center;
  color: #FFFFFF;
  -webkit-animation: step-card-out 1s 1 forwards;
          animation: step-card-out 1s 1 forwards;
}

.step-card:hover {
  -webkit-animation: step-card-in 0.2s 1 forwards;
          animation: step-card-in 0.2s 1 forwards;
  height: 650px;
  width: 21%;
}

.step-card h3 {
  margin-top: 20px;
  font-weight: 300;
  font-size: 2rem;
}

.step-card p {
  padding: 20px;
}
/*# sourceMappingURL=index.css.map */