@-webkit-keyframes contact-button-hover-in {
  0% {
    background-color: #E53C5D;
  }
  10% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 20%);
  }
  20% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 40%);
  }
  30% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 60%);
  }
  40% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 80%);
  }
  50% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 100%);
  }
  60% {
    background: radial-gradient(circle, #223fe3 20%, #e53c5d 100%);
  }
  70% {
    background: radial-gradient(circle, #223fe3 40%, #e53c5d 100%);
  }
  80% {
    background: radial-gradient(circle, #223fe3 60%, #e53c5d 100%);
  }
  90% {
    background: radial-gradient(circle, #223fe3 80%, #e53c5d 100%);
  }
  100% {
    background: radial-gradient(circle, #223fe3 100%, #e53c5d 100%);
  }
}

@keyframes contact-button-hover-in {
  0% {
    background-color: #E53C5D;
  }
  10% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 20%);
  }
  20% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 40%);
  }
  30% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 60%);
  }
  40% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 80%);
  }
  50% {
    background: radial-gradient(circle, #223fe3 0%, #e53c5d 100%);
  }
  60% {
    background: radial-gradient(circle, #223fe3 20%, #e53c5d 100%);
  }
  70% {
    background: radial-gradient(circle, #223fe3 40%, #e53c5d 100%);
  }
  80% {
    background: radial-gradient(circle, #223fe3 60%, #e53c5d 100%);
  }
  90% {
    background: radial-gradient(circle, #223fe3 80%, #e53c5d 100%);
  }
  100% {
    background: radial-gradient(circle, #223fe3 100%, #e53c5d 100%);
  }
}

@-webkit-keyframes contact-button-hover-out {
  0% {
    background-color: #223FE3;
  }
  10% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 20%);
  }
  20% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 40%);
  }
  30% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 60%);
  }
  40% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 80%);
  }
  50% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 100%);
  }
  60% {
    background: radial-gradient(circle, #e53c5d 20%, #223fe3 100%);
  }
  70% {
    background: radial-gradient(circle, #e53c5d 40%, #223fe3 100%);
  }
  80% {
    background: radial-gradient(circle, #e53c5d 60%, #223fe3 100%);
  }
  90% {
    background: radial-gradient(circle, #e53c5d 80%, #223fe3 100%);
  }
  100% {
    background: radial-gradient(circle, #e53c5d 100%, #223fe3 100%);
  }
}

@keyframes contact-button-hover-out {
  0% {
    background-color: #223FE3;
  }
  10% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 20%);
  }
  20% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 40%);
  }
  30% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 60%);
  }
  40% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 80%);
  }
  50% {
    background: radial-gradient(circle, #e53c5d 0%, #223fe3 100%);
  }
  60% {
    background: radial-gradient(circle, #e53c5d 20%, #223fe3 100%);
  }
  70% {
    background: radial-gradient(circle, #e53c5d 40%, #223fe3 100%);
  }
  80% {
    background: radial-gradient(circle, #e53c5d 60%, #223fe3 100%);
  }
  90% {
    background: radial-gradient(circle, #e53c5d 80%, #223fe3 100%);
  }
  100% {
    background: radial-gradient(circle, #e53c5d 100%, #223fe3 100%);
  }
}

@-webkit-keyframes nav-menu-in {
  from {
    color: #000000;
    font-size: 1rem;
  }
  to {
    color: #E53C5D;
    font-size: 1.1rem;
  }
}

@keyframes nav-menu-in {
  from {
    color: #000000;
    font-size: 1rem;
  }
  to {
    color: #E53C5D;
    font-size: 1.1rem;
  }
}

@-webkit-keyframes nav-menu-out {
  from {
    color: #E53C5D;
    font-size: 1.1rem;
  }
  to {
    color: #000000;
    font-size: 1rem;
  }
}

@keyframes nav-menu-out {
  from {
    color: #E53C5D;
    font-size: 1.1rem;
  }
  to {
    color: #000000;
    font-size: 1rem;
  }
}

@-webkit-keyframes step-card-in {
  from {
    height: 80%;
    width: 20%;
  }
  to {
    height: 90%;
    width: 21%;
  }
}

@keyframes step-card-in {
  from {
    height: 80%;
    width: 20%;
  }
  to {
    height: 90%;
    width: 21%;
  }
}

@-webkit-keyframes step-card-out {
  from {
    height: 90%;
    width: 21%;
  }
  to {
    height: 80%;
    width: 20%;
  }
}

@keyframes step-card-out {
  from {
    height: 90%;
    width: 21%;
  }
  to {
    height: 80%;
    width: 20%;
  }
}

@-webkit-keyframes icons-animation-in {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    padding-bottom: 0;
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    margin-top: -70px;
  }
}

@keyframes icons-animation-in {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    padding-bottom: 0;
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    margin-top: -70px;
  }
}

@-webkit-keyframes icons-animation-out {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    margin-top: -70px;
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    padding-bottom: 0;
  }
}

@keyframes icons-animation-out {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    margin-top: -70px;
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    padding-bottom: 0;
  }
}

@-webkit-keyframes service-card-in {
  from {
    height: 90%;
    width: 45%;
  }
  to {
    height: 94%;
    width: 47%;
  }
}

@keyframes service-card-in {
  from {
    height: 90%;
    width: 45%;
  }
  to {
    height: 94%;
    width: 47%;
  }
}

@-webkit-keyframes service-card-out {
  from {
    height: 94%;
    width: 47%;
  }
  to {
    height: 90%;
    width: 45%;
  }
}

@keyframes service-card-out {
  from {
    height: 94%;
    width: 47%;
  }
  to {
    height: 90%;
    width: 45%;
  }
}

@-webkit-keyframes first-line {
  from {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
  to {
    -webkit-transform: rotate(-45deg) translate(-5px, 2px);
            transform: rotate(-45deg) translate(-5px, 2px);
  }
}

@keyframes first-line {
  from {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
  to {
    -webkit-transform: rotate(-45deg) translate(-5px, 2px);
            transform: rotate(-45deg) translate(-5px, 2px);
  }
}

@-webkit-keyframes second-line {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes second-line {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes third-line {
  from {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
    width: 25px;
  }
  to {
    -webkit-transform: rotate(-45deg) translate(-6px, -12px);
            transform: rotate(-45deg) translate(-6px, -12px);
    width: 15px;
  }
}

@keyframes third-line {
  from {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
    width: 25px;
  }
  to {
    -webkit-transform: rotate(-45deg) translate(-6px, -12px);
            transform: rotate(-45deg) translate(-6px, -12px);
    width: 15px;
  }
}

@-webkit-keyframes first-line-out {
  from {
    -webkit-transform: rotate(-45deg) translate(-5px, 2px);
            transform: rotate(-45deg) translate(-5px, 2px);
  }
  to {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
}

@keyframes first-line-out {
  from {
    -webkit-transform: rotate(-45deg) translate(-5px, 2px);
            transform: rotate(-45deg) translate(-5px, 2px);
  }
  to {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
}

@-webkit-keyframes second-line-out {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes second-line-out {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes third-line-out {
  from {
    -webkit-transform: rotate(-45deg) translate(-6px, -12px);
            transform: rotate(-45deg) translate(-6px, -12px);
    width: 15px;
  }
  to {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
    width: 25px;
  }
}

@keyframes third-line-out {
  from {
    -webkit-transform: rotate(-45deg) translate(-6px, -12px);
            transform: rotate(-45deg) translate(-6px, -12px);
    width: 15px;
  }
  to {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
    width: 25px;
  }
}

@-webkit-keyframes mobile-menu-open {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}

@keyframes mobile-menu-open {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}

@-webkit-keyframes mobile-menu-close {
  from {
    height: 400px;
  }
  to {
    height: 0;
  }
}

@keyframes mobile-menu-close {
  from {
    height: 400px;
  }
  to {
    height: 0;
  }
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover, a:visited, a:focus {
  text-decoration: none;
  color: black;
}

#container-two,
#services-container,
#work-container {
  max-width: 1400px;
  margin: 0 auto;
}

#overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
}

#close-btn {
  width: 20px;
  height: 20px;
  background-color: wheat;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

#contactus {
  position: relative;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  height: 700px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #223FE3;
  border-radius: 25px;
}

#close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #223FE3;
  padding-top: 17px;
  cursor: pointer;
}

#close-btn .left,
#close-btn .right {
  width: 30px;
  height: 5px;
  background-color: #FFFFFF;
  margin: 0 auto;
}

#close-btn .left {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#close-btn .right {
  margin-top: -5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#contact-form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  text-align: center;
}

#contact-form label {
  padding: 5px;
}

input[type='text'], select, textarea {
  margin: 0 auto;
  width: 75%;
  max-width: 100%;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 25px;
}

input[type='text'] {
  height: 50px;
}

textarea {
  padding-top: 10px;
}

input[type='submit'] {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  width: 25%;
  margin: 0 auto;
  margin-top: 20px;
  border: none;
  height: 50px;
  border-radius: 25px;
  color: #FFFFFF;
  background-color: #E53C5D;
  -webkit-animation: contact-button-hover-out 0.2s 1 none;
          animation: contact-button-hover-out 0.2s 1 none;
}

input[type='submit']:hover {
  -webkit-animation: contact-button-hover-in 0.2s 1 none;
          animation: contact-button-hover-in 0.2s 1 none;
  background-color: #223FE3;
}

@media only screen and (max-width: 640px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    max-width: 600px;
  }
  h1 {
    text-align: center;
  }
  #mobile-menu {
    display: none;
    position: absolute;
    top: 110px;
    right: 0;
    height: 400px;
    width: 100%;
    background-color: #E53C5D;
    overflow: hidden;
    -webkit-animation: mobile-menu-open 0.2s linear 1 normal;
            animation: mobile-menu-open 0.2s linear 1 normal;
  }
  #mobile-menu ul {
    text-align: center;
  }
  #mobile-menu ul li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #FFFFFF;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
  }
  #contact-btn-mobile {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 150px;
    height: 37.5px;
    border-radius: 25px;
    border: none;
    background-color: #223FE3;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  #header {
    display: none !important;
  }
  #header-mobile {
    display: block !important;
    width: 100%;
    height: 100px;
  }
  #flexbox-header-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #logo-container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #logo-img-mobile {
    height: 90px;
    width: 61px;
    margin-left: 20px;
    margin-top: 10px;
  }
  #mobile-menu-btn {
    width: 50%;
    margin-right: 20px;
    margin-top: 10px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .mobile-menu-btn-line {
    margin-bottom: 5px;
    height: 5px;
    width: 30px;
    background-color: black;
  }
  #first-line {
    width: 15px;
  }
  #third-line {
    width: 25px;
  }
  #container-two {
    position: relative;
    height: 3000px !important;
  }
  #container-two h2, #container-two h3 {
    font-size: 2rem !important;
    text-align: center;
  }
  #container-two #about {
    font-size: 1.2rem !important;
    padding-top: 20px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
  #container-two .web-design-process {
    position: absolute;
    font-weight: 600;
    font-family: "Bebas Neue", cursive;
    font-size: 5rem !important;
    width: 100%;
    left: 50%;
    top: 15% !important;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
    opacity: 0.5;
  }
  #section-steps, #steps-icons {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 2400px !important;
  }
  #steps-icons {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .step-card {
    height: 550px !important;
    width: 90% !important;
    height: 100%;
  }
  #services-container {
    height: 2100px;
  }
  #services-container h2 {
    font-size: 5rem !important;
    top: -5% !important;
  }
  #service-cards-one,
  #service-cards-two,
  #service-cards-three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service-card {
    width: 90% !important;
    height: 350px !important;
    margin-top: 10px !important;
    background-color: #E53C5D;
    margin: 0 auto;
    border-radius: 25px;
  }
}

@media only screen and (max-width: 1010px) {
  body {
    max-width: 1010px;
  }
  h1 {
    text-align: center;
    margin-top: 20px !important;
  }
  #mobile-menu {
    display: none;
    position: absolute;
    top: 110px;
    right: 0;
    height: 400px;
    width: 100%;
    background-color: #E53C5D;
    overflow: hidden;
    -webkit-animation: mobile-menu-open 0.2s linear 1 normal;
            animation: mobile-menu-open 0.2s linear 1 normal;
  }
  #mobile-menu ul {
    text-align: center;
  }
  #mobile-menu ul li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #FFFFFF;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
  }
  #contact-btn-mobile {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 150px;
    height: 37.5px;
    border-radius: 25px;
    border: none;
    background-color: #223FE3;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  #header {
    display: none !important;
  }
  #header-mobile {
    display: block !important;
    width: 100%;
    height: 100px;
  }
  #flexbox-header-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #logo-container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #logo-img-mobile {
    height: 90px;
    width: 61px;
    margin-left: 20px;
    margin-top: 10px;
  }
  #mobile-menu-btn {
    width: 50%;
    margin-right: 20px;
    margin-top: 10px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .mobile-menu-btn-line {
    margin-bottom: 5px;
    height: 5px;
    width: 30px;
    background-color: black;
  }
  #first-line {
    width: 15px;
  }
  #third-line {
    width: 25px;
  }
  #container-two {
    position: relative;
    height: 3000px !important;
  }
  #container-two h2, #container-two h3 {
    font-size: 2rem !important;
    text-align: center;
  }
  #container-two #about {
    font-size: 1.2rem !important;
    padding-top: 20px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
  #container-two .web-design-process {
    position: absolute;
    font-weight: 600;
    font-family: "Bebas Neue", cursive;
    font-size: 5rem !important;
    width: 100%;
    left: 50%;
    top: 15% !important;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
    opacity: 0.5;
  }
  #section-steps, #steps-icons {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 2400px !important;
  }
  #steps-icons {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .step-card {
    height: 550px !important;
    width: 90% !important;
    height: 100%;
  }
  #services-container {
    height: 2100px;
  }
  #services-container h2 {
    font-size: 5rem !important;
    top: -5% !important;
  }
  .service-card {
    margin-top: 10px !important;
    background-color: #E53C5D;
    margin: 0 auto;
    border-radius: 25px;
  }
}

#top-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

#background-img {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

#mobile-menu, #header-mobile {
  display: none;
}

#header {
  height: 100px;
  width: 90%;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

#logo-img {
  height: 90px;
  width: 61px;
}

#nav li {
  display: inline;
  text-align: center;
  padding: 0 25px 0 25px;
  -webkit-animation: nav-menu-out 0.1s linear 1 normal;
          animation: nav-menu-out 0.1s linear 1 normal;
}

#nav li:hover {
  -webkit-animation: nav-menu-in 0.1s linear 1 normal;
          animation: nav-menu-in 0.1s linear 1 normal;
  color: #E53C5D;
  font-size: 1.1rem;
}

#contact-btn {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #E53C5D;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-animation: contact-button-hover-out 0.2s 1 none;
          animation: contact-button-hover-out 0.2s 1 none;
}

#contact-btn:hover {
  -webkit-animation: contact-button-hover-in 0.2s 1 none;
          animation: contact-button-hover-in 0.2s 1 none;
  background-color: #223FE3;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: 500;
  font-size: 3rem;
  line-height: 45px;
  margin-top: 50px;
  margin-left: 25px;
}

#container-two {
  position: relative;
  height: 1400px;
}

#container-two h2, #container-two h3 {
  font-size: 2rem;
  text-align: center;
}

#container-two #about {
  font-size: 2rem;
  padding-top: 20px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

#container-two .web-design-process {
  position: absolute;
  font-weight: 600;
  font-family: "Bebas Neue", cursive;
  font-size: 12rem;
  width: 100%;
  left: 50%;
  top: 35%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  opacity: 0.5;
}

#section-paragraph {
  margin-bottom: 200px;
}

#section-steps, #steps-icons {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#steps-icons {
  margin-top: -30%;
}

#steps-icons img {
  width: 200px;
  height: 200px;
}

.step-card {
  height: 80%;
  width: 20%;
  background-color: #223FE3;
  border-radius: 25px;
  text-align: center;
  color: #FFFFFF;
  -webkit-animation: step-card-out 1s 1 forwards;
          animation: step-card-out 1s 1 forwards;
}

.step-card:hover {
  -webkit-animation: step-card-in 0.2s 1 forwards;
          animation: step-card-in 0.2s 1 forwards;
  height: 90%;
  width: 21%;
}

.step-card h3 {
  margin-top: 20px;
  font-weight: 300;
  font-size: 2rem;
}

.step-card p {
  padding: 20px;
}

#services-container {
  position: relative;
  width: 100%;
  margin-top: 100px;
}

#services-container h2 {
  position: absolute;
  font-weight: 600;
  font-family: "Bebas Neue", cursive;
  font-size: 12rem;
  width: 100%;
  top: -10%;
  text-align: center;
  z-index: -1;
  opacity: 0.5;
}

#services-cards {
  height: 1400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#service-cards-one,
#service-cards-two,
#service-cards-three {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-card {
  width: 45%;
  height: 90%;
  background-color: #E53C5D;
  margin: 0 auto;
  border-radius: 25px;
  -webkit-animation: service-card-out 0.2s 1 forwards;
          animation: service-card-out 0.2s 1 forwards;
}

.service-card:hover {
  -webkit-animation: service-card-in 0.2s 1 forwards;
          animation: service-card-in 0.2s 1 forwards;
  height: 94%;
  width: 47%;
}

#footer {
  margin-top: 100px;
  width: 100%;
  height: 400px;
  background-color: #223FE3;
}
/*# sourceMappingURL=index.css.map */