@import '_variables';
@import '_animations';
@import '_global-styles';
@import '_contact-form';
@import '_mobile-styles';


#top-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

#background-img {
    width: 40%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

}


//header bar. Logo, nav menu, contact button 

#header {
    height: 100px;
    width: 90%;
    font-family: $open-sans;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#logo-img {
    height: 90px;
    width: 61px;
    
  
    
}


#nav li{
    display: inline;
    text-align: center;
    padding: 0 25px 0 25px;
    animation: nav-menu-out 0.1s linear 1 normal;
    

   
}

#nav li:hover {
     //nav-menu animation 
     animation: nav-menu-in 0.1s linear 1 normal;
     color: $red;
     font-size: 1.1rem;
     
     
}


#contact-btn {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border:none;
    background-color: $red;
    color: $white;
    text-transform: uppercase;
    animation: contact-button-hover-out 0.2s 1 none;
    
}

#contact-btn:hover {
    animation: contact-button-hover-in 0.2s 1 none;
    background-color: $blue;
}

// h1 

h1 {
    font-family: $bebas-Neue;
    font-weight: 500;
    font-size: 3rem;
    line-height: 45px;
    margin-top: 50px;
    margin-left: 25px;
}




//middle container, design steps, paragraph


#container-two {
    position: relative;
    height: 1400px;
    
}


#container-two h2, #container-two h3 {
    font-size: 2rem;
    text-align: center;
}

#container-two #about {
    font-size: 2rem;
    padding-top: 20px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#container-two .web-design-process {
    position: absolute;
    font-weight: 600;
    font-family: $bebas-Neue;
    font-size: 12rem;
    width: 100%;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0.5;


}

#section-paragraph {
    margin-bottom: 200px;
    
}

// steps cards

    #section-steps, #steps-icons {
        height: 700px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    #steps-icons {
        margin-top: -30%;
        
    }

    #steps-icons img {
        width: 200px;
        height: 200px;
        
    }
    
    .step-card {
        height: 80%;
        width: 20%;
        background-color: $blue;
        border-radius: 25px;
        text-align: center;
        color: $white;
        animation: step-card-out 1s 1 forwards;

    }

    .step-card:hover {
        animation: step-card-in 0.2s 1 forwards;
        height: 90%;
        width: 21%;
    }

    .step-card h3 {
        margin-top: 20px;
        font-weight: 300;
        font-size: 2rem;
    }

    .step-card p {
        padding: 20px;
    }


    // services 


    #services-container {
        position: relative;
        width: 100%;
        margin-top: 100px;
    }

    #services-container h2 {
        position: absolute;
        font-weight: 600;
        font-family: $bebas-Neue;
        font-size: 12rem;
        width: 100%;
        top: -10%;
        text-align: center;
        z-index: -1;
        opacity: 0.5;

    }

    #services-cards {
        height: 1400px;
        width: 100%;
        
        display: flex;
        flex-direction: column;
    }


    #service-cards-one,
    #service-cards-two,
    #service-cards-three {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .service-card {
        width: 45%;
        height: 90%;
        background-color: $red;
        margin:0 auto;
        border-radius:25px ;

        animation: service-card-out 0.2s 1 forwards;


    }

    .service-card:hover {
        animation: service-card-in 0.2s 1 forwards;
        height: 94%;
        width: 47%;
    }

    // footer

    #footer {
        margin-top: 100px;
        width: 100%;
        height: 400px;
        background-color: $blue;
    }

    
